body {
    background-color: #24292e;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: #50c878;
    font-size: 40px;
    margin-top: 50px;
}

#alarm {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    display: inline-block;
}

label {
    display: block;
